# Python
__pycache__/
*.py[cod]
*.egg-info/
*.log

# Virtualenv
venv/
env/
.env

# Django
staticfiles/
media/

# VSCode
.vscode/

# macOS & Windows
.DS_Store
Thumbs.db

../.venv/
../104.py
untime.txt.txt
../products/
../star.py
